* {
  padding: 0%;

  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 35px 8%;
  display: inline;
  justify-content: space-between;
}

.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #5ab2ff;
  text-align: center;
  color: white;
}

h1 {
  color: black;
}

h2 {
  margin: 0;
  color: #850f8d;
}

nav {
  font-size: 18px;

  font-weight: 400;
  text-decoration: none;

  color: white;

  background-color: #a0deff;
  padding: 5px;

  position: sticky;
  top: 0;
}

nav ul {
  padding-inline: 4rem;
  display: flex;
  gap: 2rem;
}

nav li {
  list-style-type: none;
}

main {
  padding: 20px;
  gap: 1.5rem;
  overflow: auto;
  display: flex;
}

.featured-image {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  object-position: center;
}

.profile img {
  max-width: 200px;
}

#content {
  flex: 5;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  padding: 20px;
  margin-top: 20px;
}

aside {
  flex: 1;
  text-align: center;
}

footer {
  padding: 20px;
  color: #151515;
  background-color: #caf4ff;

  text-align: center;
  font-weight: bold;
}

/* Perangkat dengan lebar layar 1200px dan di bawahnya */
@media screen and (max-width: 1200px) {
  main {
    flex-flow: column-nowrap;
  }

  main aside {
    align-self: center;
  }
}

/* Perangkat dengan lebar layar 768px dan di bawahnya */
@media screen and (max-width: 768px) {
  nav ul {
    justify-content: center;
  }

  main aside {
    align-self: stretch;
  }
}
